html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Image/7167569.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

a {
    color:white !important;
    text-decoration:none;
}

.rowPersonView {
    background-color: #2F4F4F;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.colPersonView {
    background-color: dimgrey;
    display:flex;
    border-bottom: 1px solid black;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


.row {
    --bs-gutter-x: 0rem !important;
}