html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Image/7167569.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

a {
    color:white !important;
    text-decoration:none;
}

.rowPersonView {
    background-color: lightslategray;
    color: black;
    font-weight:bold;
    border-bottom: 1px solid black;
}

.colPersonView {
    background-color: dimgrey;
    display:flex;
    border-bottom: 1px solid black;
}