@model People_Assignment.Models.ViewModels.CreatePersonViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new person</h1>

<div class="col-md-4">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="CityName"></label>
            <input class="form-control" asp-for="CityName" />
            <span asp-validation-for="CityName"></span>
            <datalist id="cityList">
                @foreach(string cityName in Model.CityList)
                {
                    <option value="@cityName">@cityName</option>
                }
            </datalist>
        </div>
    </form>

    <button class="btn btn-primary ">Submit</button>

</div>

