@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row rowPersonView">
    <div class="col-3 colPersonView">
        <label>Name</label>
        <div>@Model.Name</div>
    </div>
    <div class="col-3 colPersonView">
        <label>Phone</label>
        <div>@Model.PhoneNumber</div>
    </div>
    <div class="col-3 colPersonView">
      <label>City</label>
        <div>@Model.CityName</div>
    </div>

    <div class="col-3 colPersonView">
        <button class="btn-danger">@Html.ActionLink("Delete","Delete","People", new {id = Model.PersonId})</button>
        <a asp-action="Person" class="btn-warning" asp-controller="People">Back</a>
    </div>

</div>