@{
    ViewData["Title"] = "Person";
}

<h1>Person</h1>

<a asp-action="Create">Add Person</a>

<div class="row">

    <div class="col-4">Name</div>
    <div class="col-4">PhoneNumber</div>
    <div class="col-4">CityName</div>

</div>

