@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>People page</h1>

<a asp-action="Create" class="btn btn-success mb-3">Add Person</a>
<br />

<form asp-action="Search">
    <input id="search" type="text" name="search" placeholder="Search">
    <input type="submit" value="FilterString" />
</form>

<br />
<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
</div>

@foreach (Person person in Model)
{
    if (person != null)
    {
        <partial name="_PersonRow" model="person"></partial>
    }
}
 