@model PeopleViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="People" asp-action="Search" method="get">
            <input type="text" name="Search" />
            <input type="submit" value="FilterString" />
        </form>
    </div>
    <div id="result"></div>
</div>