@model PeopleViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="row">
    <div class="col-md-4">
        <form onsubmit="submitSearchForm(event,'@Url.Action("Search","People")')">
            <input id="search" type="text" name="Search" />
            <input type="submit" value="Filter" />
        </form>
    </div>
    <div id="result"></div>
</div>