@model Person

<div class="row bg-dark" style="border: solid 1px black;">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.CityName</div>
    <div class="col-3">@Model.PersonId</div>
</div>