@model Person

<br>



<div class="row bg-dark">
    <div class="col-4">Name</div>
    <div class="col-4">PhoneNumber</div>
    <div class="col-4">City</div>
</div>

@*<table class="table table-striped bg-light">
    <thead>
        <tr>
            <td class="col-4">@Model.Name</td>
            <td class="col-4">@Model.PhoneNumber</td>
            <td class="col-4">@Model.CityName</td>
        </tr>
    </thead>
</table>*@