@model List<Person>



<div class="row" style="background-color:#2F4F4F; border: solid 1px black;">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
    <div class="col-3">Id</div>
</div>

@foreach (Person person in Model)
{
    <div class="row">
        <partial name="_PeopleDisplay" model="person"></partial>
    </div>
}