@model Person

<table class="table table-striped">
    <thead>
        <tr>
        <td>@Model.Name</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.CityName</td>
        <td></td>
        </tr>
    </thead>

</table>