@model Person

<div class="row bg-dark" style="border: solid 1px black;">
    <div class="col-4">@Model.Name</div>
    <div class="col-4">@Model.PhoneNumber</div>
    <div class="col-4">@Model.CityName</div>
</div>