@model Person

<div class="row">
    <div class="col-3 colPersonView">@Model.Name</div>
    <div class="col-3 colPersonView">@Model.PhoneNumber</div>
    <div class="col-3 colPersonView">@Model.CityName</div>
    <div class="col-3 colPersonView">
        <button class="btn-primary">@Html.ActionLink("Details","Details","People", new {id = Model.PersonId})</button>
    </div>
</div>
