@model Person


<body> 
    <h3>Details for the current person</h3>


    <div class="row" style="background-color:#2F4F4F; border: solid 1px black;">
        <div class="col-3 colPersonView">@Model.Name</div>
        <div class="col-3 colPersonView">@Model.PhoneNumber</div>
        <div class="col-3 colPersonView">@Model.CityName</div>
        <div class="col-3 colPersonView">@Model.PersonId</div>
    </div>
</body>