
@{
    ViewData["Title"] = "Index";
}

<h2>People with Ajax</h2>

<button class="btn-light mb-4" onclick="getPeopleListAjax('@Url.Action("PartialViewPeople","People")')">List of People</button>

<div id="result"></div>